body{
    background: #e5e5e5;
    color:#ccc;
}
a{
    color:#fb8823;
}
a:hover{
    color:#FFA659;
    text-decoration: none;
}
.btn-highlight,
.btn-highlight i{
    text-shadow: 0 0 5px #fb8823;
    color:#fb8823;
}
.nav-link{
    font-size:16px;
    padding: 8px;
    color:#222;
}
.jumbotron{
    position: relative;
    background: #f1f1f1 url('../img/banner.png') center top no-repeat;
    background-size:auto 100%;
    padding: 30px 10px 10px 10px;
    margin-top: -20px;
    margin-bottom: 10px;
    color:#fb8823;
    border-bottom:1px solid #ddd;
}
h1 {
    margin-top: 10px;
}
.breadcrumb{
	margin: 0;
    background-color: transparent;
}
.breadcrumb a{
    color:#555;
    text-shadow:none;
}
.breadcrumb a:hover{
    color:#fb8823;
    text-decoration: none;
}
.span4{
    float:left;
}
div.thumbnails{
}
.thumbnail{
    border:1px solid #ddd;
    background: #f1f1f1;
    overflow: hidden;
    height: 177px;
    width: 100%;
    position: relative;
    padding: 0;
}
@media(max-width: 767px) {
    .thumbnail{
        height: 165px;
    }
}
.thumbnail img {
    width: 100%;
}
.thumbnail .cover{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
}
.thumbnail h3{
    text-decoration: none;
    font-weight:bold;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.thumbnail h3 span{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.thumbnail h3 span.spacer {
    padding: 0 5px;
    background: 0;
}
a.thumbnail:hover,
a.thumbnail:focus{
    border-color: #fb8823;
    -webkit-box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
    box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
}
#search-box{
    width:100%;
    border:0;
    background: #f1f1f1;
    border:1px solid #ddd;
    border-radius:0;
    padding:10px;
    color:#555;
    margin-bottom: 20px;
}
#play-link{
	margin:0px;
    font-size:20px;
}
#play-link.play-artist{
    margin-bottom: 0;
}
#play-link.play-playlist{
    margin-left:0;
}
.play-col,
.num-col {
    width:30px;
}
.album-image{
    float:left;
    margin-right:30px;
    margin-bottom:30px;
    max-width: 100%;
}
.album-table{
    color:#555;
}
#current-song {
    margin: 10px 0;
    text-align: right;
    background: rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}
#current-song-title {
    font-size: 20px;
}
.btn-group {
    width: 200px;
    margin: 0 auto;
}
