body{
    background: #e5e5e5;
    color:#ccc;
}
a{
    color:#fb8823;
}
a:hover{
    color:#FFA659;
    text-decoration: none;
}
.btn-highlight,
.btn-highlight i{
    text-shadow: 0 0 5px #fb8823;
    color:#fb8823;
}
.nav-link{
    font-size:16px;
    padding: 8px;
    color:#222;
}
.jumbotron{
    position: relative;
    background: #f1f1f1 url('../img/banner.png') center top no-repeat;
    background-size:auto 100%;
    padding: 30px 10px 10px 10px;
    margin-top: -20px;
    margin-bottom: 10px;
    color:#fb8823;
    border-bottom:1px solid #ddd;
}
h1 {
    margin-top: 10px;
}
.breadcrumb{
	margin: 0;
    background-color: transparent;
}
.breadcrumb a{
    color:#555;
    text-shadow:none;
}
.breadcrumb a:hover{
    color:#fb8823;
    text-decoration: none;
}
.span4{
    float:left;
}
div.thumbnails{
}
.thumbnail{
    border:1px solid #ddd;
    background: #f1f1f1;
    overflow: hidden;
    height: 240px;
    width: 100%;
}
.thumbnail img {
    max-height: 175px;
}
.thumbnail h3{
    margin-top: 10px;
    color:#777;
    font-weight: lighter;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 1.2em;
}
a.thumbnail:hover,
a.thumbnail:focus{
    border-color: #fb8823;
    -webkit-box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
    box-shadow: 0 1px 4px rgba(251, 136, 35, 0.25);
}
#search-box{
    width:100%;
    border:0;
    background: #f1f1f1;
    border:1px solid #ddd;
    border-radius:0;
    padding:10px;
    color:#555;
    margin-bottom: 20px;
}
#play-link{
	margin:0px;
    font-size:20px;
}
#play-link.play-artist{
    margin-bottom: 0;
}
#play-link.play-playlist{
    margin-left:0;
}
.play-col,
.num-col {
    width:30px;
}
.album-image{
    float:left;
    margin-right:30px;
    margin-bottom:30px;
    max-width: 100%;
}
.album-table{
    color:#555;
}
#current-song {
    margin-top: 10px;
	text-align: right;
}
#current-song-title {
    font-size: 20px;
}
.btn-group {
    width: 200px;
    margin: 0 auto;
}
