{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>

<title>Play Pi</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style.css" media="screen" />

<script src="{% get_static_prefix %}js/jquery.min.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="{% get_static_prefix %}img/favicon.ico" />

<link rel='apple-touch-icon-precomposed' href='{% get_static_prefix %}img/apple-touch-icon.png' />

<script>
$(document).ready(function() {

  $('#search-box').keyup(function() {
    $('.thumbnail').each(function(){
        if($(this).attr('name').toLowerCase().indexOf($('#search-box').val().toLowerCase()) == -1){
            $(this).hide();
        }else{
            $(this).show();
        }
    });
  });

  function ajax(toggle){
    $.ajax("/ajax/"+toggle+"/",{ type: "GET" }).always(function (response) {
      results = JSON.parse(response['responseText']);
      if(toggle != "stop"){
        $("#"+toggle+"-button").toggleClass('btn-highlight');
      }
    });
    return false;
  }

  $('#random-button').click(function(e){
      e.preventDefault();
      ajax("random");
  });
  $('#stop-button').click(function(e){
      e.preventDefault();
      ajax("stop");
  });
  $('#repeat-button').click(function(e){
      e.preventDefault();
      ajax("repeat");
  });

});
</script>

</head>
<body>

<div id='content'>


<div class='container'>

<header class="jumbotron" id="overview">
  <div class="container">
    <h1>Play Pi</h1>
    <p class="lead">Google Play Music Control Station</p>
    <p>
      <a class="btn btn-danger" href='{% url "stop" %}' id='stop-button'>
          <i class='icon-stop icon-white'></i> Stop
      </a>
      <a class="btn {% if mpd_status.random == '1' %}btn-highlight{% endif %} btn-inverse" href='{% url "random" %}' id='random-button'>
          <i class='icon-random icon-white'></i> Random
      </a>
      <a class="btn {% if mpd_status.repeat == '1' %}btn-highlight{% endif %} btn-inverse" href='{% url "repeat" %}' id='repeat-button'>
          <i class='icon-repeat icon-white'></i> Repeat
      </a>
    </p>
    <a class='nav-link' href='{% url "home" %}'>
        <i class='icon-user'></i> Artists
    </a>
    <a class='nav-link' href='{% url "playlists" %}'>
        <i class='icon-list'></i> Playlists
    </a>
  </div>
</header>
{% block content %}
  Hello World
{% endblock %}
</div>
</div>

</body>
</html>
