{% extends "base.html" %}

{% block jquery %}

{% endblock %}

{% block content %}

{% if view == 'album' and artist %}
<h1>{{ artist.name }} <a class='btn btn-default' href='{% url "play_artist" artist.id %}'>▶ Play Artist</a></h1>
{% endif %}

<div class='row'>
  <div class="col-md-12">
    <form class="form-search">
      <input type="text" id="search-box" class="search-query" placeholder="Filter" />
    </form>
  </div>
</div>

<div class="row">
  <div class="thumbnails">
    {% for item in list %}

    <div class="col-md-4">
      <a href="{% url view item.id %}" class="thumbnail" name="{{ item.name }}">
	      <img src="{% if item and item.art_url %} {{ item.art_url }} {% else %} /static/img/banner.png {% endif %} " alt="" />
	      <div class='cover'><h3>{{ item.name|wordwrap:20|linebreaksbr}}</h3></div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
