{% extends "base.html" %}

{% block jquery %}

{% endblock %}

{% block content %}


<div class='row'>
  <form class="form-search">
    <input type="text" id="search-box" class="search-query clearfix" placeholder="Filter" />
  </form>

</div>
<div class="thumbnails">


{% for item in list %}

<a href="{% url view item.id %}" class="thumbnail" name="{{ item.name }}">
	<img src="{% if item and item.art_url %} {{ item.art_url }} {% else %} /static/img/banner.png {% endif %} " alt="">
	<h3>{{ item.name }}</h3>
</a>

{% endfor %}

</div>

{% endblock %}
