{% extends "base.html" %}

{% block jquery %}

{% endblock %}

{% block content %}



<div class="page-header">
	  <h1>{{ playlist.name }}</h1>
</div>

<img src='{% if playlist and playlist.art_url %} {{ playlist.art_url }} {% else %} /static/img/banner.png {% endif %}' class='album-image' alt=''/>

<table class="table table-striped album-table">
  <tr>
  	<th class='play-col'></th>
  	<th>Name</th>
  </tr>
  {% for track in tracks %}
    <tr>
    	<td class='play-col'><a href='{% url "play_track" track.id %}'>▶</a></td>
    	<td>{{ track.name }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
