{% extends "base.html" %}

{% block jquery %}

{% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
  <li><a href="{% url 'playlists' %}">Playlists</a> <span class="divider">/</span></li>
  <li class="active">{{ playlist.name }}</li>
</ul>

<div class="page-header">
	  <h1>{{ playlist.name }}</h1>
</div>

<a id='play-link' class='play-playlist' href='{% url "play_playlist" playlist.id %}'>▶ Play Playlist</a>

<table class="table table-striped album-table">
  <tr>
  	<th class='play-col'></th>
  	<th>Name</th>
  </tr>
  {% for track in tracks %}
    <tr>
    	<td class='play-col'><a href='{% url "play_track" track.id %}'>▶</a></td>
    	<td>{{ track.name }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
